@import "tailwindcss";

@theme inline {
  --color-onyx: #050505;
  --color-titanium: #ffffff;
  --color-gold: #D4AF37;
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-syncopate), sans-serif;
}

body {
  background-color: var(--color-onyx);
  color: var(--color-titanium);
  overflow-x: hidden;
}

/* Custom Scrollbar for Brutalist Aesthetic */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-onyx);
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}

* {
  box-sizing: border-box;
}
